.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Pushes the shopping cart icon to the right */
  border-bottom: solid 1px grey;
  padding: 0.3% 1% ;
}
.h1Container {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  height: 55px;
  width: 55px;
  margin-right: 1%;
}
